.job {
  background-color: #f2f2f2;

  &-company {
    background-color: #fff;
    border-radius: 6px;
    margin-top: -40px;
    margin-bottom: 32px;

    &-imgCont {
      width: 100%;
      height: 140px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      padding: 0 43px;
      &-name {
        h2 {
          margin-bottom: 13px;
        }
        span {
          color: #6e8098;
        }
      }
    }
  }

  &-details {
    background-color: #fff;
    padding: 48px;
    border-radius: 6px;
    margin-bottom: 80px;

    &-scheduleGroup {
      display: flex;
      gap: 5px;
      column-gap: 35px;
      flex-wrap: wrap;
      color: #6e8098;
      margin-bottom: 12px;
      //   height: 55px;

      span {
        position: relative;
        height: fit-content;
        &::after {
          content: ".";
          position: absolute;
          left: 112%;
          top: -30%;
          color: #121721;
          font-size: 30px;
          font-weight: 700;
        }
        &:last-child {
          &::after {
            content: none;
          }
        }
      }
    }

    &-title {
      margin-bottom: 14px;
    }

    &-location {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #5964e0;
    }

    &-body {
      margin-top: 44px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #6e8098;
    }
  }

  &-footer{
    width: 100%;
    background-color: #fff;
    padding: 23px 0;

    &-wrapper{
        span{
            color: #6e8098;
        }
    }
  }
}

.job-dark {
  background-color: #121721;

  &-company {
    background-color: #19202d;
    border-radius: 6px;
    margin-top: -40px;
    margin-bottom: 32px;

    &-imgCont {
      width: 100%;
      height: 140px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      padding: 0 43px;
      &-name {
        h2 {
          margin-bottom: 13px;
          color: #fff;
        }
        span {
          color: #6e8098;
        }
      }
    }
  }

  &-details {
    background-color: #19202d;
    padding: 48px;
    border-radius: 6px;
    margin-bottom: 80px;

    &-scheduleGroup {
      display: flex;
      gap: 5px;
      column-gap: 35px;
      flex-wrap: wrap;
      color: #6e8098;
      margin-bottom: 12px;
      //   height: 55px;

      span {
        position: relative;
        height: fit-content;
        &::after {
          content: ".";
          position: absolute;
          left: 112%;
          top: -30%;
          color: #121721;
          font-size: 30px;
          font-weight: 700;
        }
        &:last-child {
          &::after {
            content: none;
          }
        }
      }
    }

    &-title {
      margin-bottom: 14px;
      color: #fff;
    }

    &-location {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #5964e0;
    }

    &-body {
      margin-top: 44px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #6e8098;
    }
  }

  &-footer{
    width: 100%;
    background-color: #19202d;
    padding: 23px 0;

    &-wrapper{
        h3{
            color:#fff;
        }
        span{
            color: #6e8098;
        }
    }
  }
}


.light-body{
    background-color: #f2f2f2;
}

.dark-body{
    background-color: #121721;
}