.jobs {
  background-color: #f2f2f2;
  margin-top: 105px;

  &-filterGroup {
    margin-top: -40px;
  }
}

.jobs-dark {
  background-color: #121721;
  margin-top: 105px;

  &-filterGroup {
    margin-top: -40px;
  }

}

.row-dark{
  background-color: #19202d;
}